@using Newtonsoft.Json
@model List<SoleStockSolutions.Models.CartItem>
@{
    ViewBag.Title = "Finalizar compra";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal precioTotal = Model.Sum(item => item.Price * item.Quantity);
    decimal impuestos = precioTotal * 0.21m;
    decimal subtotal = precioTotal - impuestos;

    var direccionFacturacion = ViewBag.BillingAddress as SoleStockSolutions.Models.Address;
    var direccionEnvio = ViewBag.ShippingAddress as SoleStockSolutions.Models.Address;

}

<!-- Start Checkout  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <form id="checkoutForm" class="needs-validation" novalidate>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="title-left">
                                <h3>Contacto</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Nombre *</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                    <div class="invalid-feedback"> Por favor, introduzca su nombre. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Apellidos *</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                    <div class="invalid-feedback"> Por favor, introduzca sus apellidos. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Correo electrónico *</label>
                                <input type="email" class="form-control" id="email" placeholder="" required>
                                <div class="invalid-feedback"> Por favor, introduzca una dirección de correo electrónico. </div>
                            </div>
                            <hr class="mb-4">
                        }
                        <div class="title-left">
                            <h3>Dirección de facturación</h3>
                        </div>
                        <div class="mb-3">
                            <label for="billingDireccion">Dirección *</label>
                            <input type="text" class="form-control" id="billingDireccion" placeholder="" value="@(direccionFacturacion?.AddressLine1)" required>
                            <div class="invalid-feedback"> Por favor, introduzca la dirección. </div>
                        </div>
                        <div class="mb-3">
                            <label for="billingDireccion2">Dirección 2</label>
                            <input type="text" class="form-control" id="billingDireccion2" placeholder="Piso, puerta, letra..." value="@(direccionFacturacion?.AddressLine2)">
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="billingPais">País *</label>
                                <select class="crs-country form-control" id="billingPais" name="billingPais" data-region-id="billingProvincia" data-value="shortcode" data-whitelist="AL,AD,AM,AT,AZ,BY,BE,BA,BG,HR,CY,CZ,DK,EE,FI,FR,GE,DE,GR,HU,IS,IE,IT,KZ,XK,LV,LI,LT,LU,MT,MD,MC,ME,NL,NO,PL,PT,RO,RU,SM,RS,SK,SI,ES,SE,CH,TR,UA,GB" required>
                                    <option value="">Selecciona un país</option>
                                </select>
                                <div class="invalid-feedback"> Por favor, seleccione un país. </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="billingProvincia">Provincia *</label>
                                <select class="form-control" id="billingProvincia" name="billingProvincia" required>
                                    <option value="">Selecciona una provincia</option>
                                </select>
                                <div class="invalid-feedback"> Por favor, seleccione una provincia. </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="billingCiudad">Ciudad *</label>
                                <input type="text" class="form-control" id="billingCiudad" name="billingCiudad" maxlength="100" value="@(direccionFacturacion?.City)" required disabled>
                                <div class="invalid-feedback"> Por favor, introduzca el nombre de la ciudad. </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="billingCP">Código postal *</label>
                                <input type="text" class="form-control" id="billingCP" name="billingCP" maxlength="20" value="@(direccionFacturacion?.PostalCode)" required disabled>
                                <div class="invalid-feedback"> Por favor, introduzca el código postal. </div>
                            </div>
                        </div>
                        <div class="mb-3" style="display: flex; flex-direction: column;">
                            <label for="billingTelefono">Teléfono *</label>
                            <input type="text" class="form-control" id="billingTelefono" name="billingTelefono" maxlength="15" required>
                            <div class="invalid-feedback"> Por favor, introduzca un número de teléfono. </div>
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address" onchange="toggleShippingAddress()">
                            <label class="custom-control-label" for="same-address">La dirección de envío es igual a la dirección de facturación.</label>
                        </div>
                        <hr class="mb-4">
                        <div id="shipping-address-section">
                            <div class="title-left">
                                <h3>Dirección de envío</h3>
                            </div>
                            <div class="mb-3">
                                <label for="shippingDireccion">Dirección *</label>
                                <input type="text" class="form-control" id="shippingDireccion" placeholder="" value="@(direccionEnvio?.AddressLine1)" required>
                                <div class="invalid-feedback"> Por favor, introduzca la dirección. </div>
                            </div>
                            <div class="mb-3">
                                <label for="shippingDireccion2">Dirección 2</label>
                                <input type="text" class="form-control" id="shippingDireccion2" placeholder="Piso, puerta, letra..." value="@(direccionEnvio?.AddressLine2)">
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="shippingPais">País *</label>
                                    <select class="crs-country form-control" id="shippingPais" name="shippingPais" data-region-id="shippingProvincia" data-value="shortcode" data-whitelist="AL,AD,AM,AT,AZ,BY,BE,BA,BG,HR,CY,CZ,DK,EE,FI,FR,GE,DE,GR,HU,IS,IE,IT,KZ,XK,LV,LI,LT,LU,MT,MD,MC,ME,NL,NO,PL,PT,RO,RU,SM,RS,SK,SI,ES,SE,CH,TR,UA,GB" required>
                                        <option value="">Selecciona un país</option>
                                    </select>
                                    <div class="invalid-feedback"> Por favor, seleccione un país. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="shippingProvincia">Provincia *</label>
                                    <select class="form-control" id="shippingProvincia" name="shippingProvincia" required>
                                        <option value="">Selecciona una provincia</option>
                                    </select>
                                    <div class="invalid-feedback"> Por favor, seleccione una provincia. </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="shippingCiudad">Ciudad *</label>
                                    <input type="text" class="form-control" id="shippingCiudad" name="shippingCiudad" maxlength="100" value="@(direccionEnvio?.City)" required disabled>
                                    <div class="invalid-feedback"> Por favor, introduzca el nombre de la ciudad. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="shippingCP">Código postal *</label>
                                    <input type="text" class="form-control" id="shippingCP" name="shippingCP" maxlength="20" value="@(direccionEnvio?.PostalCode)" required disabled>
                                    <div class="invalid-feedback"> Por favor, introduzca el código postal. </div>
                                </div>
                            </div>
                            <div class="mb-3" style="display: flex; flex-direction: column;">
                                <label for="shippingTelefono">Teléfono *</label>
                                <input type="text" class="form-control" id="shippingTelefono" name="shippingTelefono" maxlength="15" required>
                                <div class="invalid-feedback"> Por favor, introduzca un número de teléfono. </div>
                            </div>
                            <hr class="mb-4">
                        </div>
                        <div class="title-left">
                            <h3>Método de pago</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="card-number">Número de tarjeta *</label>
                                <div id="card-number" class="form-control payment-field"></div>
                                <div id="card-number-errors" class="text-danger w-100 mt-2"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="card-expiry">Fecha de expiración *</label>
                                <div id="card-expiry" class="form-control payment-field"></div>
                                <div id="card-expiry-errors" class="text-danger w-100 mt-2"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="card-cvc">CVC *</label>
                                <div id="card-cvc" class="form-control payment-field"></div>
                                <div id="card-cvc-errors" class="text-danger w-100 mt-2"></div>
                            </div>
                            <div id="card-errors" role="alert" class="text-danger"></div>
                        </div>
                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="method-box">
                            <div class="title-left">
                                <h3>Método de envío</h3>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption1" name="shipping-option" class="custom-control-input" type="radio" data-cost="0.00" data-method="standard" checked="checked">
                                    <label class="custom-control-label" for="shippingOption1">Envío Estándar</label> <span class="float-right font-weight-bold">0.00€</span>
                                </div>
                                <div class="ml-4 mb-2 small">(3-7 días laborales)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption2" name="shipping-option" class="custom-control-input" type="radio" data-cost="12.00" data-method="express">
                                    <label class="custom-control-label" for="shippingOption2">Envío Express</label> <span class="float-right font-weight-bold">12.00€</span>
                                </div>
                                <div class="ml-4 mb-2 small">(2-4 días laborales)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption3" name="shipping-option" class="custom-control-input" type="radio" data-cost="20.00" data-method="24h">
                                    <label class="custom-control-label" for="shippingOption3">Envío 24h</label> <span class="float-right font-weight-bold">20.00€</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Productos</h3>
                            </div>
                            <div class="rounded p-2 bg-light">
                                @foreach (var product in Model)
                                {
                                    <div class="media mb-2 border-bottom">
                                        <a href="@Url.Action("ProductDetails", "Products", new { productName = product.ProductName.Replace(" ", "-").Replace("(", "").Replace(")", "") })" target="_blank">
                                            <img class="img-fluid mr-3" src="@product.ImageUrl" alt="@product.ProductName" style="width: 80px; height: 60px;" />
                                        </a>
                                        <div class="media-body">
                                            <a href="@Url.Action("ProductDetails", "Products", new { productName = product.ProductName.Replace(" ", "-").Replace("(", "").Replace(")", "") })"> @product.ProductName</a>
                                            @{ var subtotalLinea = (product.Price * product.Quantity).ToString("F2", System.Globalization.CultureInfo.InvariantCulture); }
                                            <div class="small text-muted">Precio: @product.Price.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)€ <span class="mx-2">|</span> Unidades: @product.Quantity <span class="mx-2">|</span> Subtotal: @subtotalLinea€</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Coste final</h3>
                            </div>
                            <div class="d-flex">
                                <h4>Subtotal</h4>
                                <div class="ml-auto font-weight-bold" id="subtotal"> @subtotal.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)€ </div>
                            </div>
                            <div class="d-flex">
                                <h4>IVA (21%)</h4>
                                <div class="ml-auto font-weight-bold" id="impuestos"> @impuestos.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)€ </div>
                            </div>
                            <div class="d-flex">
                                <h4>Costes de envío (Imp. Incl.)</h4>
                                <div class="ml-auto font-weight-bold" id="envio"> 0.00€ </div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex gr-total">
                                <h5>Total</h5>
                                <div class="ml-auto h5" id="total"> @precioTotal.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)€ </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box" style="position: absolute; bottom: 0px;">
                        <button id="realizarPedido" type="submit" form="checkoutForm" class="ml-auto btn hvr-hover" style=" font-size: 18px; color: #ffffff; border: none; padding: 10px 20px;">Realizar Pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Checkout -->

@section scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $(document).ready(function () {
            var stripe = Stripe('pk_test_51QddA2CxalMtBEmbC59rWdZzYg2H0dk18n9V2pOUjMdN4yLrC6VuAHQxsfwwvdvjS67nBWLIpm5AcLVDHBLMeS9C0011iZjpek');
            var elements = stripe.elements();

            var style = {
                base: {
                    color: '#32325d',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            var cardNumber = elements.create('cardNumber', { style: style, showIcon: true });
            cardNumber.mount('#card-number');

            var cardExpiry = elements.create('cardExpiry', { style: style });
            cardExpiry.mount('#card-expiry');

            var cardCvc = elements.create('cardCvc', { style: style });
            cardCvc.mount('#card-cvc');

            cardNumber.on('change', function (event) {
                var displayError = document.getElementById('card-number-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            cardExpiry.on('change', function (event) {
                var displayError = document.getElementById('card-expiry-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            cardCvc.on('change', function (event) {
                var displayError = document.getElementById('card-cvc-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            $('#billingPais').on('change', function () {
                var isCountrySelected = $(this).val() !== '';
                $('#billingProvincia, #billingCiudad, #billingCP').prop('disabled', !isCountrySelected);
            });

            $('#shippingPais').on('change', function () {
                var isCountrySelected = $(this).val() !== '';
                $('#shippingProvincia, #shippingCiudad, #shippingCP').prop('disabled', !isCountrySelected);
            });

            $('#billingCiudad, #shippingCiudad').on('input', function () {
                this.value = this.value.replace(/\d/g, '');
            });

            $('#billingCP, #shippingCP').on('input', function () {
                validateCP($(this));
            });

            setupPhoneInput("#billingTelefono");
            setupPhoneInput("#shippingTelefono");

            window.crs.init();

            $('#billingPais').val('@(direccionFacturacion?.Country)').trigger('change');
            $('#billingProvincia').val('@(direccionFacturacion?.Province)');
            $('#billingCiudad').val('@(direccionFacturacion?.City)');
            setTimeout(function () {
                $('#billingTelefono').val('@(direccionFacturacion?.PhoneNumber)');
            }, 200);

            $('#shippingPais').val('@(direccionEnvio?.Country)').trigger('change');
            $('#shippingProvincia').val('@(direccionEnvio?.Province)');
            $('#shippingCiudad').val('@(direccionEnvio?.City)');
            setTimeout(function () {
                $('#shippingTelefono').val('@(direccionEnvio?.PhoneNumber)');
            }, 200);

            $('input[name="shipping-option"]').on('change', function () {
                updateFinalCost();
            });

            updateFinalCost();

            document.getElementById('checkoutForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var form = this;
                var cpFields = [document.getElementById('billingCP'), document.getElementById('shippingCP')];
                var cpValid = true;

                cpFields.forEach(function (cpField) {
                    if (!cpField.checkValidity()) {
                        cpValid = false;
                    }
                });

                if (!form.checkValidity() || !validateAllCPs()) {
                    event.stopPropagation();
                    form.reportValidity();
                    return;
                }

                var cardValid = true;

                if (!cardNumber._complete) {
                    document.getElementById('card-number-errors').textContent = 'Por favor, introduzca el número de tarjeta.';
                    cardValid = false;
                } else {
                    document.getElementById('card-number-errors').textContent = '';
                }

                if (!cardExpiry._complete) {
                    document.getElementById('card-expiry-errors').textContent = 'Por favor, introduzca la fecha de expiración.';
                    cardValid = false;
                } else {
                    document.getElementById('card-expiry-errors').textContent = '';
                }

                if (!cardCvc._complete) {
                    document.getElementById('card-cvc-errors').textContent = 'Por favor, introduzca el CVC.';
                    cardValid = false;
                } else {
                    document.getElementById('card-cvc-errors').textContent = '';
                }

                if (!cardValid) {
                    event.preventDefault();
                    return;
                }

                stripe.createToken(cardNumber).then(function (result) {
                    if (result.error) {
                        return;
                    } else {
                        stripeTokenHandler(result.token);
                    }
                });
            });
        });

        function validateCP(cpElement) {
            var cp = cpElement.val();
            var pais = cpElement.closest('form').find('select[name$="Pais"]').val();
            var isValid = true;

            if (pais && cp) {
                var countryCode = cpElement.closest('form').find('select[name$="Pais"] option:selected').attr('value');
                isValid = i18nZipcodes(countryCode, cp);
            }

            if (!isValid) {
                cpElement.remove('was-validated');
                cpElement.addClass('is-invalid');
                cpElement.siblings('.invalid-feedback').text('El código postal introducido es inválido.');
            } else {
                cpElement.removeClass('is-invalid');
                cpElement.siblings('.invalid-feedback').text('Por favor, introduzca el código postal.');
            }
        }

        function validateAllCPs() {
            var cpFields = [$('#billingCP'), $('#shippingCP')];
            var allValid = true;

            cpFields.forEach(function (cpField) {
                if (cpField.length) {
                    validateCP(cpField);
                    if (cpField.hasClass('is-invalid')) {
                        allValid = false;
                    }
                }
            });

            return allValid;
        }

        function setupPhoneInput(inputId) {
            var phoneInput = document.querySelector(inputId);
            var phoneIti = window.intlTelInput(phoneInput, {
                initialCountry: "auto",
                onlyCountries: ["al", "ad", "am", "at", "az", "by", "be", "ba", "bg", "hr", "cy", "cz", "dk", "ee", "fi", "fr", "ge", "de", "gr", "hu", "is", "ie", "it", "kz", "xk", "lv", "li", "lt", "lu", "mt", "md", "mc", "me", "nl", "no", "pl", "pt", "ro", "ru", "sm", "rs", "sk", "si", "es", "se", "ch", "tr", "ua", "gb"],
                geoIpLookup: function (callback) {
                    $.get('https://ipinfo.io', function () { }, "jsonp").always(function (resp) {
                        var countryCode = (resp && resp.country) ? resp.country : "es";
                        callback(countryCode);
                    });
                },
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
            });

            phoneInput.addEventListener('blur', function () {
                var errorSpan = phoneInput.parentNode.nextSibling.nextSibling;
                if (phoneInput.value.trim()) {
                    if (phoneIti.isValidNumber()) {
                        phoneInput.classList.remove("is-invalid");
                        errorSpan.textContent = "";
                    } else {
                        phoneInput.classList.add("is-invalid");
                        errorSpan.textContent = "El número de teléfono introducido es inválido.";
                    }
                } else {
                    phoneInput.classList.remove("is-invalid");
                    errorSpan.textContent = "";
                }
            });

            phoneInput.addEventListener('input', function () {
                this.value = this.value.replace(/[^\d+]/g, '');
                if ($(this).hasClass("is-invalid")) {
                    $(this).removeClass("is-invalid");
                    $(this).siblings('.invalid-feedback').text('Por favor, introduzca el número de teléfono.');
                }
            });
        }

        function toggleShippingAddress() {
            var isChecked = document.getElementById('same-address').checked;
            var shippingAddressSection = document.getElementById('shipping-address-section');

            if (isChecked) {
                document.getElementById("shippingDireccion").value = document.getElementById("billingDireccion").value;
                document.getElementById("shippingDireccion2").value = document.getElementById("billingDireccion2").value;
                document.getElementById("shippingPais").value = document.getElementById("billingPais").value;
                $("#shippingPais").trigger('change');
                document.getElementById("shippingProvincia").value = document.getElementById("billingProvincia").value;
                document.getElementById("shippingCiudad").value = document.getElementById("billingCiudad").value;
                document.getElementById("shippingCP").value = document.getElementById("billingCP").value;
                document.getElementById("shippingTelefono").value = document.getElementById("billingTelefono").value;

                shippingAddressSection.style.display = 'none';
            } else {
                document.getElementById("shippingDireccion").value = "";
                document.getElementById("shippingDireccion2").value = "";
                document.getElementById("shippingPais").value = "";
                $("#shippingPais").trigger('change');
                document.getElementById("shippingProvincia").value = "";
                document.getElementById("shippingCiudad").value = "";
                document.getElementById("shippingCP").value = "";
                document.getElementById("shippingTelefono").value = "";

                shippingAddressSection.style.display = 'block';
            }
        }

        function updateFinalCost() {
            var shippingCost = parseFloat($('input[name="shipping-option"]:checked').data('cost'));
            var total = parseFloat('@precioTotal');
            var impuestos = total * 0.21;
            var subtotal = total - impuestos;

            $('#subtotal').text(subtotal.toFixed(2) + '€');
            $('#impuestos').text(impuestos.toFixed(2) + '€');
            $('#envio').text(shippingCost.toFixed(2) + '€');
            $('#total').text((total + shippingCost).toFixed(2) + '€');
        }

        function stripeTokenHandler(token) {
            var form = document.getElementById('checkoutForm');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            var isSameAddress = document.getElementById('same-address').checked;
            if (isSameAddress) {
                document.getElementById("shippingDireccion").value = document.getElementById("billingDireccion").value;
                document.getElementById("shippingDireccion2").value = document.getElementById("billingDireccion2").value;
                document.getElementById("shippingPais").value = document.getElementById("billingPais").value;
                $("#shippingPais").trigger('change');
                document.getElementById("shippingProvincia").value = document.getElementById("billingProvincia").value;
                document.getElementById("shippingCiudad").value = document.getElementById("billingCiudad").value;
                document.getElementById("shippingCP").value = document.getElementById("billingCP").value;
                document.getElementById("shippingTelefono").value = document.getElementById("billingTelefono").value;
            }

            var formData = {
                firstName: $('#firstName').val(),
                lastName: $('#lastName').val(),
                email: $('#email').val(),
                billingAddress: {
                    addressLine1: $('#billingDireccion').val(),
                    addressLine2: $('#billingDireccion2').val(),
                    country: $('#billingPais').val(),
                    province: $('#billingProvincia').val(),
                    city: $('#billingCiudad').val(),
                    postalCode: $('#billingCP').val(),
                    phoneNumber: $('#billingTelefono').val()
                },
                shippingAddress: {
                    addressLine1: $('#shippingDireccion').val(),
                    addressLine2: $('#shippingDireccion2').val(),
                    country: $('#shippingPais').val(),
                    province: $('#shippingProvincia').val(),
                    city: $('#shippingCiudad').val(),
                    postalCode: $('#shippingCP').val(),
                    phoneNumber: $('#shippingTelefono').val()
                },
                shippingOption: $('input[name="shipping-option"]:checked').data('method'),
                shippingCost: parseFloat($('input[name="shipping-option"]:checked').data('cost')),
                cartItems: @Html.Raw(JsonConvert.SerializeObject(Model)),
                token: token.id
            };

            Swal.fire({
                title: 'Confirmando pedido...',
                text: 'Por favor, espera un momento.',
                icon: 'info',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });

            $.ajax({
                url: '@Url.Action("ProcessOrderAsync", "Checkout").ToLower()',
                type: 'POST',
                data: formData,
                async: true,
                success: function (response) {
                    Swal.close();
                    if (response.success === true)
                        window.location.href = response.redirectUrl;
                    else
                        popups.showErrorTimer(response.message);
                },
                error: function () {
                    popups.showErrorTimer("Ocurrió un error al procesar el pedido.");
                }
            });
        }
    </script>
}