@model SoleStockSolutions.Models.SizesViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Tallas</h1>
    <ul class="nav nav-tabs" id="mainTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="read-tab" data-toggle="tab" href="#read" role="tab" aria-controls="read" aria-selected="true">Consultar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">Añadir Nuevo</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update" aria-selected="false">Modificar Existente</a>
        </li>*@
    </ul>
    <div class="tab-content" id="mainTabsContent">
        <div class="tab-pane fade show active" id="read" role="tabpanel" aria-labelledby="read-tab">
            <div class="card shadow mb-4">
                <ul class="nav nav-tabs" id="readSubTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="read-universal-tab" data-toggle="tab" href="#read-universal" role="tab" aria-controls="read-universal" aria-selected="true">Tallas Universales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="read-brand-tab" data-toggle="tab" href="#read-brand" role="tab" aria-controls="read-brand" aria-selected="false">Tallas por Marca</a>
                    </li>
                </ul>
                <div class="tab-content" id="readSubTabsContent">
                    <div class="tab-pane fade show active card-body" id="read-universal" role="tabpanel" aria-labelledby="read-universal-tab">
                        <div class="card-header p-0 pb-3">
                            <h6 class="m-0 font-weight-bold text-primary">Lista de Tallas Universales</h6>
                        </div>
                        <table id="universalSizesTable" class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th>Talla</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var size in Model.UniversalSizes)
                                {
                                    <tr>
                                        <td>@size.talla_eu</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" data-toggle="tab" onclick='loadSizeData("@size.talla_eu", true); $("#read").removeClass("active"); $("#update").addClass("show active"); $("#update-brand").removeClass("active"); $("#update-universal").addClass("show active");'><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-sm btn-danger" onclick='var data = { talla_eu: "@size.talla_eu" }; popups.showConfirmDelete("Confirmar Eliminación", "¿Está seguro de que desea eliminar esta talla?", "/adminpanel/deleteuniversalsize", data )'><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade card-body" id="read-brand" role="tabpanel" aria-labelledby="read-brand-tab">
                        <div class="card-header p-0 pb-3">
                            <h6 class="m-0 font-weight-bold text-primary">Lista de Tallas por Marca</h6>
                        </div>
                        <table id="brandSizesTable" class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th>Marca</th>
                                    <th>Talla</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var size in Model.BrandSizes)
                                {
                                    <tr>
                                        <td>@size.Nombre_Marca</td>
                                        <td>@size.Talla_Eu</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" data-toggle="tab" onclick='loadSizeData("@size.Talla_Eu", false); $("#read").removeClass("active"); $("#update").addClass("show active"); $("#update-universal").removeClass("active"); $("#update-brand").addClass("show active");'><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-sm btn-danger" onclick='var data = { talla_eu: "@size.Talla_Eu", id_marca: "@size.Id_Marca" }; popups.showConfirmDelete("Confirmar Eliminación", "¿Está seguro de que desea eliminar esta talla?", "/adminpanel/deletebrandsize", data )'><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
            <div class="card shadow mb-4">
                <ul class="nav nav-tabs" id="createSubTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="create-universal-tab" data-toggle="tab" href="#create-universal" role="tab" aria-controls="create-universal" aria-selected="true">Tallas Universales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="create-brand-tab" data-toggle="tab" href="#create-brand" role="tab" aria-controls="create-brand" aria-selected="false">Tallas por Marca</a>
                    </li>
                </ul>
                <div class="tab-content" id="createSubTabsContent">
                    <div class="tab-pane fade show active card-body" id="create-universal" role="tabpanel" aria-labelledby="create-universal-tab">
                        <form id="createUniversalSizeForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="createUniversalSize">Talla EU</label>
                                <input type="text" class="form-control" id="createUniversalSize" name="talla_eu" required />
                                <div class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label for="createUniversalSizeUS">Talla US</label>
                                <input type="text" class="form-control" id="createUniversalSizeUS" name="talla_us" required />
                            </div>
                            <div class="form-group">
                                <label for="createUniversalSizeUK">Talla UK</label>
                                <input type="text" class="form-control" id="createUniversalSizeUK" name="talla_uk" required />
                            </div>
                            <button type="submit" class="btn btn-primary" disabled>Añadir Talla Universal</button>
                            <button type="button" id="clearCreateUniversal" class="btn btn-warning" disabled>Limpiar Campos</button>
                            <button type="button" id="cancelCreateUniversal" class="btn btn-secondary">Cancelar</button>
                        </form>
                    </div>
                    <div class="tab-pane fade card-body" id="create-brand" role="tabpanel" aria-labelledby="create-brand-tab">
                        <form id="createBrandSizeForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="searchMarcaCreate">Marca</label>
                                <input type="text" class="form-control" id="searchMarcaCreate" name="searchMarcaCreate" placeholder="Buscar marca..." required />
                                <div id="searchMarcaCreateResults" class="list-group" style="position: absolute; z-index: 1000;"></div>
                                <div class="text-danger"></div>
                            </div>
                            <div class="form-group" style="display: none !important">
                                <label for="createIdMarca">ID Marca</label>
                                <input type="text" class="form-control" id="createIdMarca" name="id_marca" readonly />
                            </div>
                            <div class="form-group">
                                <label for="createBrandSize">Talla EU</label>
                                <input type="text" class="form-control" id="createBrandSize" name="talla_eu" required />
                                <div class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label for="createBrandSizeUS">Talla US</label>
                                <input type="text" class="form-control" id="createBrandSizeUS" name="talla_us" required />
                            </div>
                            <div class="form-group">
                                <label for="createBrandSizeUK">Talla UK</label>
                                <input type="text" class="form-control" id="createBrandSizeUK" name="talla_uk" required />
                            </div>
                            <button type="submit" class="btn btn-primary" disabled>Añadir Talla por Marca</button>
                            <button type="button" id="clearCreateBrand" class="btn btn-warning" disabled>Limpiar Campos</button>
                            <button type="button" id="cancelCreateBrand" class="btn btn-secondary">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="update" role="tabpanel">
            <div class="card shadow mb-4">
                <div class="tab-content" id="updateSubTabsContent">
                    <div class="tab-pane fade show active card-body" id="update-universal" role="tabpanel" aria-labelledby="update-universal-tab">
                        <form id="updateUniversalSizeForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="updateUniversalSizeEU">Talla EU</label>
                                <input type="text" class="form-control" id="updateUniversalSizeEU" name="talla_eu" required />
                                <div class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label for="updateUniversalSizeUS">Talla US</label>
                                <input type="text" class="form-control" id="updateUniversalSizeUS" name="talla_us" required disabled />
                            </div>
                            <div class="form-group">
                                <label for="updateUniversalSizeUK">Talla UK</label>
                                <input type="text" class="form-control" id="updateUniversalSizeUK" name="talla_uk" required disabled />
                            </div>
                            <button type="submit" class="btn btn-primary" disabled>Actualizar Talla Universal</button>
                            <button type="button" id="cancelUpdateUniversal" onclick="location.reload()" class="btn btn-secondary">Cancelar</button>
                        </form>
                    </div>
                    <div class="tab-pane fade card-body" id="update-brand" role="tabpanel" aria-labelledby="update-brand-tab">
                        <form id="updateBrandSizeForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="updateBrand">Marca</label>
                                <input type="text" class="form-control" id="updateBrand" placeholder="Buscar marca..." required />
                                <div class="text-danger"></div>
                            </div>
                            <div class="form-group" style="display: none !important">
                                <label for="updateIdMarca">ID Marca</label>
                                <input type="text" class="form-control" id="updateIdMarca" name="id_marca" readonly />
                            </div>
                            <div class="form-group">
                                <label for="updateBrandSizeEU">Talla EU</label>
                                <input type="text" class="form-control" id="updateBrandSizeEU" name="talla_eu" required disabled />
                                <div class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label for="updateBrandSizeUS">Talla US</label>
                                <input type="text" class="form-control" id="updateBrandSizeUS" name="talla_us" required disabled />
                            </div>
                            <div class="form-group">
                                <label for="updateBrandSizeUK">Talla UK</label>
                                <input type="text" class="form-control" id="updateBrandSizeUK" name="talla_uk" required disabled />
                            </div>
                            <button type="submit" class="btn btn-primary" disabled>Actualizar Talla por Marca</button>
                            <button type="reset" id="cancelUpdateBrand" onclick="location.reload()" class="btn btn-secondary">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#universalSizesTable').DataTable();
            $('#brandSizesTable').DataTable();

            $('#searchMarcaCreate').on('input', function () {
                var searchTerm = $(this).val();
                if (searchTerm.length >= 2) {
                    $.ajax({
                        url: '@Url.Action("SearchMarcas", "AdminPanel").ToLower()',
                        type: 'POST',
                        data: { searchTerm: searchTerm },
                        success: function (data) {
                            var results = $('#searchMarcaCreateResults');
                            results.empty();
                            if (data.length > 0) {
                                data.forEach(function (marca) {
                                    results.append('<a href="#" class="list-group-item list-group-item-action" data-id="' + marca.id_marca + '">' + marca.nombre_marca + '</a>');
                                });
                            } else {
                                results.append('<p class="list-group-item">No se encontraron resultados</p>');
                            }
                        }
                    });
                } else {
                    $('#searchMarcaCreateResults').empty();
                }

                if ($(this).hasClass('is-invalid')) {
                    $(this).removeClass('is-invalid');
                    $(this).siblings('.text-danger').text('');
                }
            });

            $('#searchMarcaCreateResults').on('click', '.list-group-item', function (e) {
                e.preventDefault();
                var idMarca = $(this).data('id');
                var nombreMarca = $(this).text();
                $('#searchMarcaCreate').val(nombreMarca);
                $('#createIdMarca').val(idMarca);
                $('#searchMarcaCreateResults').empty();
            });

            $('#createUniversalSizeForm').submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: '@Url.Action("CreateUniversalSize", "AdminPanel").ToLower()',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.success) {
                            $('#createUniversalSize').removeClass('is-invalid');
                            $('#createUniversalSize').siblings('.text-danger').text('');
                            popups.showSuccessTimer("Talla por marca añadida exitosamente.", "Redirigiendo a la lista de tallas...");
                            setTimeout(function() {
                                window.location.href = '@Url.Action("Sizes", "AdminPanel").ToLower()';
                            }, 2000);
                        } else if (data.error === "La talla ya existe.") {
                            $('#createUniversalSize').addClass('is-invalid');
                            $('#createUniversalSize').siblings('.text-danger').text(data.error);
                        } else {
                            popups.showErrorTimer(data.error);
                        }
                    }
                });
            });

            $('#createBrandSizeForm').submit(function (e) {
                enableFieldsBeforeSubmit(this);
                e.preventDefault();

                var nombreMarca = $('#searchMarcaCreate').val().trim();
                var idMarca = $('#createIdMarca').val().trim();
                var tallaEU = $('#createBrandSize').val().trim();
                var tallaUS = $('#createBrandSizeUS').val().trim();
                var tallaUK = $('#createBrandSizeUK').val().trim();

                if (nombreMarca === '' || tallaEU === '' || tallaUS === '' || tallaUK === '') {
                    this.reportValidity();
                } else if (idMarca === '') {
                    $.ajax({
                        url: '@Url.Action("DoesBrandExist", "AdminPanel").ToLower()',
                        type: 'POST',
                        data: { nombre_marca: nombreMarca },
                        success: function (data) {
                            if (data.exists) {
                                $('#createIdMarca').val(data.id_marca);
                                submitCreateForm();
                            } else {
                                $('#searchMarcaCreate').addClass('is-invalid');
                                $('#searchMarcaCreate').siblings('.text-danger').text('La marca no existe.');
                                $('#searchMarcaCreate').data('isUnique', false);
                            }
                        }
                    });
                } else {
                    submitCreateForm();
                }
            });

            $('#updateUniversalSizeForm').on('submit', function (e) {
                e.preventDefault();

                var tallaEu = $('#updateUniversalSizeEU').val();
                var tallaUs = $('#updateUniversalSizeUS').val();
                var tallaUk = $('#updateUniversalSizeUK').val();

                if (!tallaUs || !tallaUk)
                    this.reportValidity();
                else {
                    enableFieldsBeforeSubmit(this);
                    var formData = $('#updateUniversalSizeForm').serializeArray();
                    var tallaEuExists = formData.some(function (field) {
                        return field.name === 'talla_eu';
                    });

                    if (!tallaEuExists) {
                        formData.push({ name: 'talla_eu', value: tallaEu });
                    }

                    $.ajax({
                        url: '@Url.Action("UpdateUniversalSize", "AdminPanel").ToLower()',
                        type: 'POST',
                        data: $.param(formData),
                        success: function (response) {
                            popups.showSuccessTimer("Talla universal modificada exitosamente.", "Redirigiendo a la lista de tallas...");
                            setTimeout(function() {
                                window.location.href = '@Url.Action("Sizes", "AdminPanel").ToLower()';
                            }, 2000);
                        },
                        error: function () {
                            popups.showErrorTimer("Error al actualizar la talla.");
                        }
                    });
                }
            });

            $('#updateBrandSizeForm').submit(function (e) {
                e.preventDefault();

                var tallaUS = $('#updateBrandSizeUS').val().trim();
                var tallaUK = $('#updateBrandSizeUK').val().trim();

                if (tallaUS === '' || tallaUK === '')
                    this.reportValidity();
                else
                    submitUpdateForm();
            });

            $('#createUniversalSizeForm input').on('input', function () {
                var isFormFilled = $('#createUniversalSizeForm input').filter(function () {
                    return this.value.trim() !== '';
                }).length > 0;
                $('#createUniversalSizeForm button[type="submit"]').prop('disabled', !isFormFilled);
                $('#clearCreateUniversal').prop('disabled', !isFormFilled);
            });

            $('#clearCreateUniversal').click(function () {
                $('#createUniversalSizeForm')[0].reset();
                $('#createUniversalSizeForm button[type="submit"]').prop('disabled', true);
                $("#createUniversalSize").removeClass('is-invalid');
                $("#createUniversalSize").siblings('.text-danger').text('');
                $(this).prop('disabled', true);
            });

            $('#cancelCreateUniversal').click(function () {
                $('#createUniversalSizeForm')[0].reset();
                $('#createUniversalSizeForm button[type="submit"]').prop('disabled', true);
                $('#clearCreateUniversal').prop('disabled', true);
                $('#read-tab').tab('show');
            });

            $("#createBrandSize, #createUniversalSize").on("input", function () {
                $(this).removeClass('is-invalid');
                $(this).siblings('.text-danger').text('');
            });

            $('#createBrandSizeForm input').on('input', function () {
                var isFormFilled = $('#createBrandSizeForm input').filter(function () {
                    return this.value.trim() !== '';
                }).length > 0;
                $('#createBrandSizeForm button[type="submit"]').prop('disabled', !isFormFilled);
                $('#clearCreateBrand').prop('disabled', !isFormFilled);
            });

            $('#clearCreateBrand').click(function () {
                $('#createBrandSizeForm')[0].reset();
                $('#createBrandSizeForm button[type="submit"]').prop('disabled', true);
                $("#searchMarcaCreate").removeClass('is-invalid');
                $("#searchMarcaCreate").siblings('.text-danger').text('');
                $("#createBrandSize").removeClass('is-invalid');
                $("#createBrandSize").siblings('.text-danger').text('');
                $(this).prop('disabled', true);
            });

            $('#cancelCreateBrand').click(function () {
                $('#createBrandSizeForm')[0].reset();
                $('#createBrandSizeForm button[type="submit"]').prop('disabled', true);
                $('#clearCreateBrand').prop('disabled', true);
                $('#read-tab').tab('show');
            });

            $(document).click(function (e) {
                if (!$(e.target).closest('#searchMarcaCreate, #searchMarcaCreateResults').length)
                    $('#searchMarcaCreateResults').empty();
            });

            $('#updateUniversalSizeForm input').on('input', function () {
                toggleButtons('#updateUniversalSizeForm');
            });

            $('#updateBrandSizeForm input').on('input', function () {
                toggleButtons('#updateBrandSizeForm');
            });
        });

        function submitCreateForm() {
            var formData = new FormData($('#createBrandSizeForm')[0]);
            $.ajax({
                url: '@Url.Action("CreateBrandSize", "AdminPanel").ToLower()',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        $('#createBrandSize').removeClass('is-invalid');
                        $('#createBrandSize').siblings('.text-danger').text('');
                        popups.showSuccessTimer("Talla por marca añadida exitosamente.", "Redirigiendo a la lista de tallas...");
                        setTimeout(function() {
                            window.location.href = '@Url.Action("Sizes", "AdminPanel").ToLower()';
                        }, 2000);
                    } else if (data.error === "La talla ya existe para esta marca.") {
                        $('#createBrandSize').addClass('is-invalid');
                        $('#createBrandSize').siblings('.text-danger').text(data.error);
                    } else {
                        popups.showErrorTimer(data.error);
                    }
                }
            });
        }

        function submitUpdateForm() {
            var formData = new FormData($('#updateBrandSizeForm')[0]);
            if (!formData.has('talla_eu')) {
                var tallaEu = $('#updateBrandSizeEU').val();
                formData.append('talla_eu', tallaEu);
            }
            $.ajax({
                url: '@Url.Action("UpdateBrandSize", "AdminPanel").ToLower()',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        popups.showSuccessTimer("Talla por marca actualizada exitosamente.", "Redirigiendo a la lista de tallas...");
                        setTimeout(function () {
                            window.location.href = '@Url.Action("Sizes", "AdminPanel").ToLower()';
                        }, 2000);
                    } else {
                        popups.showErrorTimer(data.error);
                    }
                }
            });
        }

        function loadSizeData(sizeId, isUniversal) {
            $.ajax({
                url: isUniversal ? '@Url.Action("GetUniversalSize", "AdminPanel").ToLower()' : '@Url.Action("GetBrandSize", "AdminPanel").ToLower()',
                type: 'POST',
                data: { id: sizeId },
                success: function (data) {
                    if (isUniversal) {
                        $('#updateUniversalSizeEU').val(data.talla_eu).prop('disabled', true);
                        $('#updateUniversalSizeUS').val(data.talla_us).prop('disabled', false);
                        $('#updateUniversalSizeUK').val(data.talla_uk).prop('disabled', false);
                    } else {
                        $('#updateIdMarca').val(data.id_marca);
                        $('#updateBrand').val(data.nombre_marca).prop('disabled', true);
                        $('#updateBrandSizeEU').val(data.talla_eu).prop('disabled', true);
                        $('#updateBrandSizeUS').val(data.talla_us).prop('disabled', false);
                        $('#updateBrandSizeUK').val(data.talla_uk).prop('disabled', false);
                    }
                }
            });
        }

        function toggleButtons(formId) {
            var form = $(formId);
            var hasContent = form.find('input').filter(function () {
                return this.value.trim() !== "";
            }).length > 0;
            form.find('button[type="submit"], button[type="button"]').prop('disabled', !hasContent);
        }

        function enableFieldsBeforeSubmit(form) {
            setTimeout(function () {
                $(form).find(':disabled').prop('disabled', false);
            }, 2000);
        }
    </script>
}