@model SoleStockSolutions.Models.Productos
@{
    var title = Model.nombre;
    ViewBag.Title = title + " - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            function updateStockMessage() {
                var selectedOption = $('#size-select').find('option:selected');
                var stockMessage = selectedOption.data('stock-message');
                $('#stock-message').text(stockMessage);
                var maxQuantity = selectedOption.data('max-quantity');
                $('#quantity-input').attr('max', maxQuantity);

                var currentQuantity = $('#quantity-input').val();
                if (currentQuantity > maxQuantity)
                    $('#quantity-input').val(maxQuantity);
            }

            $('#size-select').on('change', function () {
                updateStockMessage();
            });

            updateStockMessage();
        });
    </script>
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>DETALLES DEL PRODUCTO</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">INICIO</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Products")">PRODUCTOS</a></li>
                    <li class="breadcrumb-item active">DETALLES </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Details  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"> <img class="d-block w-100" src="@Model.imagen" alt="@Model.nombre"> </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2>@Model.nombre</h2>
                    @*<h5> <del>$ 60.00</del> $40.79</h5>*@
                    <span> @ViewBag.TotalCantidad disponibles / @ViewBag.TotalVendidos vendidos</span>
                    @if (Model.descripcion != null)
                    {
                        <h4>Descripción</h4>
                        <p>@Model.descripcion</p>
                    }
                    <ul style="@(string.IsNullOrEmpty(Model.descripcion) ? "margin-top: 30px;" : "")">
                        <li>
                            <div class="form-group size-st">
                                <label class="size-label">Talla</label>
                                <select id="size-select" class="selectpicker show-tick form-control">
                                    @foreach (var talla in ViewBag.TallasOrdenadas)
                                    {
                                        var item = Model.Inventario.FirstOrDefault(i => (i.talla_eu ?? i.talla_eu_marca) == talla);
                                        var stockMessage = item.cantidad == 1 ? " ¡Solo queda 1 existencia!" : item.cantidad <= 3 ? $" ¡Solo quedan {item.cantidad} existencias!" : "";
                                        <option value="@talla" data-stock-message="@stockMessage" data-max-quantity="@item.cantidad">@talla - @item.precio€</option>
                                    }
                                </select>
                                <span id="stock-message" class="text-danger"></span>
                            </div>
                        </li>
                        <li>
                            <div class="form-group quantity-box">
                                <label class="control-label">Cantidad</label>
                                <input id="quantity-input" class="form-control" value="1" min="1" type="number">
                            </div>
                        </li>
                    </ul>

                    <div class="price-box-bar">
                        <div class="cart-and-bay-btn">
                            <a class="btn hvr-hover" href="javascript:void(0)">Comprar ahora</a>
                            <a class="btn hvr-hover" href="javascript:void(0)" onclick="addToCart('@Model.id_producto', $('#size-select').val(), $('#quantity-input').val())">Añadir al carrito</a>
                        </div>
                    </div>

                    <div class="add-to-btn">
                        <div class="add-comp">
                            <a class="btn hvr-hover" href="javascript:void(0)"><i class="fas fa-heart"></i> Marcar como favorito</a>
                            <a class="btn hvr-hover" href="javascript:void(0)" onclick="popups.showCopyLink()"><i class="fas fa-share"></i> Compartir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Relacionados</h1>
                    <p>Échale un vistazo a los siguientes productos similares, te podrían interesar.</p>
                </div>
                <div class="featured-products-box owl-carousel owl-theme">
                    @foreach (var regProducto in (List<SoleStockSolutions.Models.RelatedProducts>)ViewBag.RelatedProducts)
                    {
                        <div class="item">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    @if (regProducto.Producto.fecha_lanzamiento > DateTime.Now.AddDays(-14))
                                    {
                                        <div class="type-lb">
                                            <p class="sale">Nuevo</p>
                                        </div>
                                    }
                                    <a href="@Url.Action("ProductDetails", new { productName = regProducto.Producto.nombre.Replace(" ", "-").Replace("(", "").Replace(")", "") })">
                                        <img src="@regProducto.Producto.imagen" style="height: 251.5px" class="img-fluid" alt="Image">
                                    </a>
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" title="Añadir a favoritos"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>@regProducto.Producto.nombre</h4>
                                    <h5> @regProducto.PrecioMinimo€</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Details -->